In [2]:
# Libraries

import pandas as pd
import pandas_access as mdb
import time
from geopy.geocoders import Nominatim

In [ ]:
# Read the apt table from the apt access database

apt_df = mdb.read_table('../data/apt.mdb', "apt")

In [ ]:
apt_df.shape

In [ ]:
apt_df.head()

In [ ]:
apt_df.columns

In [5]:
dropcolumns = ['PACT_CODE', 'ADDRESS2','COUNTRY', 'SITUS_STRE', 'SITUS_CITY', 'SITUS_ZIP', 'SECTTIE',
       'SD_NAME', 'LEGAL_DESC', 'TOTAL_ACRE','ANNUAL_TAX', 'STATUS_IND', 'PROP_SUBTY', 'O_NEIGHBOR',
       'PROP_TYPE', 'INSPCT_CYC', 'REGION', 'REC_VOLPAG', 'MULT_PARCL',
       'SALE_DATE', 'SALE_PRICE', 'SALE_VRFY', 'CODE2', 'WATER_SRC',
       'SIGMA_YEAR', 'TAXABLE', 'EXEMPT_TY', 'LOCAL_IND', 'TCA', 'CURR_USE',
       'INCORP', 'YEAR_BUILT', 'EFF_YR_BUI', 'RES_QUAL', 'RES_COND',
       'ADDL_STRUC']

In [ ]:
# apt_df.to_csv('../data/thurstonraw.csv')

In [33]:
# read Thurston Raw

thurston_raw_df = pd.read_csv('../data/thurstonraw.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
# Read saved csv, drop unnamed, head
thurston = thurston_raw_df.drop(columns=dropcolumns)
thurston.drop(columns='Unnamed: 0', inplace=True)
thurston.head()

,PARCEL_NO,ADDRESS1,CITY,STATE,ZIP,BLDG_VALUE,LAND_VALUE,TOTAL_VALU
0,11728340301,PO BOX 393 ...,EAST OLYMPIA,WA,98540,0.0,94900.0,94900.0
1,11728340400,11231 STEDMAN RD SE,OLYMPIA,WA,98513,0.0,14200.0,14200.0
2,11728340401,11231 STEDMAN RD SE,OLYMPIA,WA,98513,212000.0,73800.0,285800.0
3,11728340402,5024 DODJATREE LN SE,OLYMPIA,WA,98501,536300.0,102400.0,638700.0
4,11728340500,PO BOX 393 ...,EAST OLYMPIA,WA,98540,332700.0,102500.0,435200.0

In [35]:
thurston.dtypes

PARCEL_NO       int64
ADDRESS1       object
CITY           object
STATE          object
ZIP            object
BLDG_VALUE    float64
LAND_VALUE    float64
TOTAL_VALU    float64
dtype: object

In [36]:
thurston_zips = thurston[(thurston['ZIP'] == '98597') | 
         (thurston['ZIP'] == '98513') | 
         (thurston['ZIP'] == '98516') |
         (thurston['ZIP'] == '98355')]

In [37]:
# Drop duplicate address

dup_cols = ['ADDRESS1', 'CITY','STATE','ZIP']

thurston_zips.drop_duplicates(subset=dup_cols, inplace=True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [38]:
# Drop nulls from values, as we need the values
thurston_zips.dropna(subset=['BLDG_VALUE','LAND_VALUE','TOTAL_VALU'], inplace=True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [39]:
thurston_zips.shape

(17583, 8)

In [51]:
# add lattitude, longitude, and lookup boolean columns

thurston_zips['LAT'] = 0
thurston_zips['LONG'] = 0
thurston_zips['LOOKUP'] = 0

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [52]:
# reset index
thurston_zips.reset_index(drop=True, inplace=True)

In [53]:
thurston_zips.head()

,PARCEL_NO,ADDRESS1,CITY,STATE,ZIP,BLDG_VALUE,LAND_VALUE,TOTAL_VALU,LAT,LONG,LOOKUP
0,11728340400,11231 STEDMAN RD SE,OLYMPIA,WA,98513,0.0,14200.0,14200.0,0,0,0
1,11728430200,11046 TEMPO LK DR SE,OLYMPIA,WA,98513,0.0,58600.0,58600.0,0,0,0
2,11728430401,11249 STEDMAN RD SE,OLYMPIA,WA,98513,0.0,64200.0,64200.0,0,0,0
3,11730210101,7235 44TH AVE NE,OLYMPIA,WA,98516,0.0,102400.0,102400.0,0,0,0
4,57730000400,5420 CALEB CT SE,OLYMPIA,WA,98513,0.0,118900.0,118900.0,0,0,0

In [54]:
# Set geolocator for lookup

geolocator = Nominatim(user_agent="DSI-SEA-007")

In [55]:
# test loop

j = 0
lat_list = []
long_list = []

for i, val in thurston_zips.iterrows():
    address = ''

    street = val[1]
    city = val[2]
    state = val[3]
    zip_code = val[4]
               
    address = address + ' ' + street + ' ' + city + ' ' + state + ' ' + zip_code
        
    print(address)
    j += 1
    
    try:
        location = geolocator.geocode(address)
        thurston_zips.loc[i,'LAT'] = location.latitude
        thurston_zips.loc[i,'LONG'] = location.longitude
        thurston_zips.loc[i,'LOOKUP'] = 1
    except:
        lat_list.append(0)
        long_list.append(0)
        thurston_zips.loc[i,'LOOKUP'] = 0
        
    time.sleep(1)
    
    if j == 5:
        break
    
#     location = geolocator.geocode('11231 STEDMAN RD SE OLYMIA WA')
#     print((location.latitude, location.longitude))

 11231 STEDMAN RD SE OLYMPIA WA 98513
46.9257880777333 -122.81079887229

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

 11046 TEMPO LK DR SE OLYMPIA WA 98513
No location found
 11249 STEDMAN RD SE OLYMPIA WA 98513
46.9260266988878 -122.81099132062
 7235 44TH AVE NE OLYMPIA WA 98516
No location found
 5420 CALEB CT SE OLYMPIA WA 98513
No location found

In [56]:
thurston_zips.head()

,PARCEL_NO,ADDRESS1,CITY,STATE,ZIP,BLDG_VALUE,LAND_VALUE,TOTAL_VALU,LAT,LONG,LOOKUP
0,11728340400,11231 STEDMAN RD SE,OLYMPIA,WA,98513,0.0,14200.0,14200.0,46.925788,-122.810799,1
1,11728430200,11046 TEMPO LK DR SE,OLYMPIA,WA,98513,0.0,58600.0,58600.0,0.000000,0.000000,0
2,11728430401,11249 STEDMAN RD SE,OLYMPIA,WA,98513,0.0,64200.0,64200.0,46.926027,-122.810991,1
3,11730210101,7235 44TH AVE NE,OLYMPIA,WA,98516,0.0,102400.0,102400.0,0.000000,0.000000,0
4,57730000400,5420 CALEB CT SE,OLYMPIA,WA,98513,0.0,118900.0,118900.0,0.000000,0.000000,0

In [ ]:
# from geopy import geocoders
# g = geocoders.GoogleV3(api_key='AIzaSyAduSvc99-WisvrUVpK75LuNwMDOb8ReDY')

# #create an input address string
# #you can also build this by reading from an input database and building a string

# inputAddress = '175 5th Ave, New York,  NY' 

# #do the geocode
# location = g.geocode(inputAddress, timeout=10)

# #some things you can get from the result
# print(location.latitude, location.longitude)
# print(location.raw)
# print(location.address)

In [ ]:
"""
Set the lat_long field, if the appropriate fields are filled
"""
from geopy.geocoders import Nominatim
from geopy.exc import GeopyError

In [ ]:
# address = '175 5th Ave, New York,  NY'
# address = '11231 STEDMAN RD SE, OLYMIA, WA, 98513'
address = '5936 39TH AVE SW, SEATTLE, WA, 98136'
if address:
    geolocator = Nominatim(user_agent="DSI-SEA-007")
    try:
        location = geolocator.geocode(address)
        print(location.longitude, location.latitude)
    except (GeopyError, AttributeError):
        print(GeopyError.args)
        print(AttributeError.args)
        pass